#fejlec{
    height: 150px;
    text-align: center;
    background-color: #5B544A;
}
#fejlec h1{
    font-size: 36px;
    color: white;
}
#fejlec h2{
    font-size: 28px;
    color: white;
}

#menu a,
#menu a:link,
#menu a:visited{
    color: white;
    text-decoration: none;
}
#menu a:hover{
    color: white;
    text-decoration: underline;
}

body{
    background-color: #DCC3A3;
}

#terkep{
    text-align: center;
}

#terkep a{
    border: black solid 2px;
}